

/* * {
    text-align: right;
} */

body {
    background-image: url(https://images.unsplash.com/photo-1495546992359-94a48035efca?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: cover; 
    /* margin: 0px; */
}
header {
    background-color: antiquewhite;
}


h1, h2 {
    color: aliceblue;
    text-align: center;
    border: 1px dashed black;
    cursor: crosshair;
}

h1 {
    color: chocolate;
}

h3 {
    color: brown;
}

h4 {
    /* text-align: center; */
    /* font-family:  'Montserrat'; */
}

h5 {
    border-bottom: 2px solid red;
    width: 400px;
    text-align: center;
}

p {
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

footer {
    clear: both;
    text-align: center;
}


.ptext {
    text-align: center;
    border: 1px dashed darkgoldenrod;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}



.boxmodel {
    border: 2px solid black;
    display: inline-block;
    padding: 20px 10px 20px 10px;
    margin: 5px;
}



.flexpic {
    width: 300px;
    margin: 5px;
    transition: all 0.25s;
}

.flexpic:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




#div1 {
    background-color: rgba(255, 235, 205, 0.5);
}
#aboutText {
    background-color: rgba(255, 195, 126, 0.5);
}



